main {
  position: relative;
  width: calc(100vmin - 45vmin);
  height: calc(100vmin - 45vmin);
  display: flex;
  flex-wrap: wrap;
}
section {
  flex: 0 0 20%;
  min-height: 20%;
  border: 1px solid #fff;
  background-color: #eaedee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
section.correct-box {
  background-color: rgb(100, 200, 100);
}
section.incorrect-box {
  background-color: rgb(200, 100, 100);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
.input-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 3rem;
  line-height: 100%;
  color: #000;
  text-align: center;
  white-space: pre-line;
  background-color: transparent;
  border: 0;
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
